{% extends 'base.html'%}
{% block title %}Expense Categories{% endblock title %}
{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Reciepts</th>
                </tr>
            </thead>
            <tbody>
                {% for categories in category_list %}
                <tr>
                    <td>{{ categories.name }}</td>
                    <td>{{ categories.receipts|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
